node_modules
.env
.env.local
.env.production
.env.development
.env.test
.env.staging
.env.development.local
.env.test.local
.env.staging.local
.env.production.local
.env.development.local.example
.env.test.local.example
.env.staging.local.example
